.bottom-info {
    position: fixed;
    bottom:7.2vh;
    left: 0;
    text-align: center;
}
.team-area {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 0.2rem;
    
    aside.menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
        width: 100%;
        border-radius: 0.6em;
        height: 59vh;
        nav {
            width: 100%;
            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1em 0 0 0;
                padding: 0.5em 1em;
                text-decoration: none;
                font-size: large;
                color: #333333;
                border-top: 2px solid rgb(190, 16, 109);
                border-right: 2px solid #333333;
                border-left: none;
                border-bottom: none;
                border-radius: 0 .5rem 0 0;
                cursor: pointer;
            }
        } 
    }
}

a.active {
    background-color: whitesmoke;
    font-weight: bold;
    &::after {
        content: '';
        position: absolute;
        top: 25%;
        right: -14px;
        width: 24px;
        height: 24px;
        background: linear-gradient(45deg, rgb(190, 16, 109), rgb(190, 16, 109), black);
        border-radius: 50%;
    }
}
