<div class="row mt-3">
<h1>Vous êtes dans les coulisses !</h1>   
</div>
<div class="row team-area">
    <aside class="menu shadow-sm p-3 mb-5 bg-body rounded">
        <nav>
            <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="staff">Bureau</a>
            
            <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="players">Joueurs</a>
            
            <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="media">Médias</a>
        </nav>
        <!--<app-sidebar></app-sidebar>-->
    </aside>
    <main [@routeTransition]="route.snapshot.data">
        <router-outlet></router-outlet>
    </main>
    

</div>
