<header>
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">
        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
        <span class="brand-name">Impact Football Club</span>
      </a>
      <div class="navigation">

        <ul>
          <li>
            <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="home">Accueil</a>
          </li>
          <li>
            <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="championship">Championnat</a>
          </li>
          <li>
            <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="team">Equipe</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
</header>
<main>

  <div class="container" [@routeTransition]="route.snapshot.data">
    <router-outlet></router-outlet>
  </div>

</main>
<footer>

</footer>