<div class="col shadow-sm p-3 mb-5 bg-body rounded">
    <div class="slider-content">
        <div class="slider" style="--quantity: 12">
            <div class="item" style="--position: 1"><img src="assets/images/item1.jpg" alt=""/></div>
            <div class="item" style="--position: 2"><img src="assets/images/item2.jpg" alt=""/></div>
            <div class="item" style="--position: 3"><img src="assets/images/item3.jpg" alt=""/></div>
            <div class="item" style="--position: 4"><img src="assets/images/item4.jpg" alt=""/></div>
            <div class="item" style="--position: 5"><img src="assets/images/item5.jpg" alt=""/></div>
            <div class="item" style="--position: 6"><img src="assets/images/item6.jpg" alt=""/></div>
            <div class="item" style="--position: 7"><img src="assets/images/item7.jpg" alt=""/></div>
            <div class="item" style="--position: 8"><img src="assets/images/item8.jpg" alt=""/></div>
            <div class="item" style="--position: 9"><img src="assets/images/item9.jpg" alt=""/></div>
            <div class="item" style="--position: 10"><img src="assets/images/item10.jpg" alt=""/></div>
            <div class="item" style="--position: 11"><img src="assets/images/item11.jpg" alt=""/></div>
            <div class="item" style="--position: 12"><img src="assets/images/item12.jpg" alt=""/></div>
        </div>
    </div>      
</div>