/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "PrimaryFont";
    src: url("../public/assets/fonts/Urbanist-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
html, body, header, footer, main, article, aside, p, ul, li {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { 
    font-family: "PrimaryFont" !important;
}
.content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.in-dev {
    margin:0; font-size: 22px;padding: 16px
}