/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "PrimaryFont";
    src: url("../public/assets/fonts/Urbanist-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
html, body, header, footer, main, article, aside, p, ul, li {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { 
    font-family: "PrimaryFont" !important;
}
.content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content-panel {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0.8rem;
    .content-left {
        font-size: smaller;
    }
    .content-right {
        padding: 0 .25em .5em .25em;
        font-size: x-small;
        background-color:whitesmoke;
        border-radius: 0.5rem;

        h5 {
            font-style: italic;
            text-align:center;
        }

        .form-submit {
            padding: 0 0.25em;
            text-align: right;
        }
    }
}
.in-dev {
    margin:0; font-size: 22px;padding: 16px
}